@font-face {
    font-family: "gothic";
    src: url("../../fonts/GOTHIC.woff") format('woff');
}
@font-face {
    font-family: "gothicbold";
    src: url("../../fonts/GOTHICB.woff") format('woff');
}
@font-face {
    font-family: "gothicbolditalic";
    src: url("../../fonts/GOTHICBI.woff") format('woff');
}
@font-face {
    font-family: "gothicitalic";
    src: url("../../fonts/GOTHICI.woff") format('woff');
}
